<button (click)="alternateVisibility()">🐵</button>
<div class="sidemenu-container"
[style.background-color]="theme"
[style.width]="widthMenu+'%'"
[style.display]="visibleMenu ? 'flex': 'none'"
>
    <div class="item">
        <img src="https://w7.pngwing.com/pngs/117/407/png-transparent-minecraft-minecraft-sticker-creeper-wall-decal-video-game-minecraft-logo-brand-skeleton-thumbnail.png" alt="image.png">
        <p>{{userName}}</p>
        <button (click)="alternateVisibility()">Back</button>
    </div>
    <div class="item">
        <p><span>💫</span>DashBoard</p>
    </div>
    <div class="item">
        <p><span>💕</span>Profile
        </p>
    </div>
    <div class="item">
        <button class="btn" (click)="setTheme('red')">Change Color</button>
        <button class="btn" (click)="setSize()">Change Size</button>
    </div>
</div>
